

services: 
  backend:
    build: ./backend
    container_name: app-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    volumes:
     []
    restart: always

  frontend:
    build: 
      context: ./frontend
      args: 
        VITE_API_URL: "http://localhost:4000/api"
    container_name: app-frontend
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: always